<style>
            body {
            color: black;
            font-size: 14px;
            background-color: rgb(119, 173, 173);
            }
            ol {
            margin: 40px;
            padding-left: 50px;
            background-color: rgb(172, 136, 136);
            }
              table {
                border-collapse: collapse;
                background-color: white;
                margin-top: 20px;
            }
        </style>